@mixin padding($breakpoint) {

    /*
     * padding helpers
     */

    .no-pad#{$breakpoint} {
        padding: 0;
    }
    .xxs-pad#{$breakpoint} {
        padding: $xxs;
    }
    .xs-pad#{$breakpoint} {
        padding: $xs;
    }
    .sm-pad#{$breakpoint} {
        padding: $sm;
    }
    .md-pad#{$breakpoint} {
        padding: $md;
    }
    .lg-pad#{$breakpoint} {
        padding: $lg;
    }
    .xl-pad#{$breakpoint} {
        padding: $xl;
    }
    .xxl-pad#{$breakpoint} {
        padding: $xxl;
    }






    .no-pad-l#{$breakpoint} {
        padding-left: 0;
    }
    .xxs-pad-l#{$breakpoint} {
        padding-left: $xxs;
    }
    .xs-pad-l#{$breakpoint} {
        padding-left: $xs;
    }
    .sm-pad-l#{$breakpoint} {
        padding-left: $sm;
    }
    .md-pad-l#{$breakpoint} {
        padding-left: $md;
    }
    .lg-pad-l#{$breakpoint} {
        padding-left: $lg;
    }
    .xl-pad-l#{$breakpoint} {
        padding-left: $xl;
    }
    .xxl-pad-l#{$breakpoint} {
        padding-left: $xxl;
    }



    .no-pad-t#{$breakpoint} {
        padding-top: 0;
    }
    .xxs-pad-t#{$breakpoint} {
        padding-top: $xxs;
    }
    .xs-pad-t#{$breakpoint} {
        padding-top: $xs;
    }
    .sm-pad-t#{$breakpoint} {
        padding-top: $sm;
    }
    .md-pad-t#{$breakpoint} {
        padding-top: $md;
    }
    .lg-pad-t#{$breakpoint} {
        padding-top: $lg;
    }
    .xl-pad-t#{$breakpoint} {
        padding-top: $xl;
    }
    .xxl-pad-t#{$breakpoint} {
        padding-top: $xxl;
    }




    .no-pad-r#{$breakpoint} {
        padding-right: 0;
    }
    .xxs-pad-r#{$breakpoint} {
        padding-right: $xxs;
    }
    .xs-pad-r#{$breakpoint} {
        padding-right: $xs;
    }
    .sm-pad-r#{$breakpoint} {
        padding-right: $sm;
    }
    .md-pad-r#{$breakpoint} {
        padding-right: $md;
    }
    .lg-pad-r#{$breakpoint} {
        padding-right: $lg;
    }
    .xl-pad-r#{$breakpoint} {
        padding-right: $xl;
    }
    .xxl-pad-r#{$breakpoint} {
        padding-right: $xxl;
    }





    .no-pad-b#{$breakpoint} {
        padding-bottom: 0;
    }
    .xxs-pad-b#{$breakpoint} {
        padding-bottom: $xxs;
    }
    .xs-pad-b#{$breakpoint} {
        padding-bottom: $xs;
    }
    .sm-pad-b#{$breakpoint} {
        padding-bottom: $sm;
    }
    .md-pad-b#{$breakpoint} {
        padding-bottom: $md;
    }
    .lg-pad-b#{$breakpoint} {
        padding-bottom: $lg;
    }
    .xl-pad-b#{$breakpoint} {
        padding-bottom: $xl;
    }
    .xxl-pad-b#{$breakpoint} {
        padding-bottom: $xxl;
    }


}
