@mixin display($breakpoint) {
    
    /*
     * Display
     */

    .display-block#{$breakpoint} {
        display: block;
    }

    .display-inline#{$breakpoint} {
        display: inline-block;
    }
    
    .display-none#{$breakpoint} {
        display: none;
    }

    .full-width#{$breakpoint} {
        width: 100%;
    }

    .wide#{$breakpoint} {
        width: 75%;
    }

    .max-width#{$breakpoint} {
        max-width: 100%;
    }

    .full-height#{$breakpoint} {
        height: 100%;
    }


}