@mixin border($breakpoint) {

    /*
     * border helpers
     */

    .no-bor#{$breakpoint} {
        border: 0;
    }
    .xxs-bor#{$breakpoint} {
        border: $border-xxs;
    }
    .xs-bor#{$breakpoint} {
        border: $border-xs;
    }
    .sm-bor#{$breakpoint} {
        border: $border-sm;
    }
    .md-bor#{$breakpoint} {
        border: $border-md;
    }
    .lg-bor#{$breakpoint} {
        border: $border-lg;
    }
    .xl-bor#{$breakpoint} {
        border: $border-xl;
    }
    .xxl-bor#{$breakpoint} {
        border: $border-xxl;
    }






    .no-bor-l#{$breakpoint} {
        border-left: 0;
    }
    .xxs-bor-l#{$breakpoint} {
        border-left: $border-xxs;
    }
    .xs-bor-l#{$breakpoint} {
        border-left: $border-xs;
    }
    .sm-bor-l#{$breakpoint} {
        border-left: $border-sm;
    }
    .md-bor-l#{$breakpoint} {
        border-left: $border-md;
    }
    .lg-bor-l#{$breakpoint} {
        border-left: $border-lg;
    }
    .xl-bor-l#{$breakpoint} {
        border-left: $border-xl;
    }
    .xxl-bor-l#{$breakpoint} {
        border-left: $border-xxl;
    }



    .no-bor-t#{$breakpoint} {
        border-top: 0;
    }
    .xxs-bor-t#{$breakpoint} {
        border-top: $border-xxs;
    }
    .xs-bor-t#{$breakpoint} {
        border-top: $border-xs;
    }
    .sm-bor-t#{$breakpoint} {
        border-top: $border-sm;
    }
    .md-bor-t#{$breakpoint} {
        border-top: $border-md;
    }
    .lg-bor-t#{$breakpoint} {
        border-top: $border-lg;
    }
    .xl-bor-t#{$breakpoint} {
        border-top: $border-xl;
    }
    .xxl-bor-t#{$breakpoint} {
        border-top: $border-xxl;
    }




    .no-bor-r#{$breakpoint} {
        border-right: 0;
    }
    .xxs-bor-r#{$breakpoint} {
        border-right: $border-xxs;
    }
    .xs-bor-r#{$breakpoint} {
        border-right: $border-xs;
    }
    .sm-bor-r#{$breakpoint} {
        border-right: $border-sm;
    }
    .md-bor-r#{$breakpoint} {
        border-right: $border-md;
    }
    .lg-bor-r#{$breakpoint} {
        border-right: $border-lg;
    }
    .xl-bor-r#{$breakpoint} {
        border-right: $border-xl;
    }
    .xxl-bor-r#{$breakpoint} {
        border-right: $border-xxl;
    }





    .no-bor-b#{$breakpoint} {
        border-bottom: 0;
    }
    .xxs-bor-b#{$breakpoint} {
        border-bottom: $border-xxs;
    }
    .xs-bor-b#{$breakpoint} {
        border-bottom: $border-xs;
    }
    .sm-bor-b#{$breakpoint} {
        border-bottom: $border-sm;
    }
    .md-bor-b#{$breakpoint} {
        border-bottom: $border-md;
    }
    .lg-bor-b#{$breakpoint} {
        border-bottom: $border-lg;
    }
    .xl-bor-b#{$breakpoint} {
        border-bottom: $border-xl;
    }
    .xxl-bor-b#{$breakpoint} {
        border-bottom: $border-xxl;
    }


}