@mixin border($breakpoint) {

    .bor-style-solid#{$breakpoint} {
        border-style: solid;
    }

    .bor-style-dashed#{$breakpoint} {
        border-style: dashed;
    }

    /*
     * border helpers
     */

    .no-bor#{$breakpoint} {
        border-width: 0;
    }
    .xxs-bor#{$breakpoint} {
        border-width: $border-xxs;
    }
    .xs-bor#{$breakpoint} {
        border-width: $border-xs;
    }
    .sm-bor#{$breakpoint} {
        border-width: $border-sm;
    }
    .md-bor#{$breakpoint} {
        border-width: $border-md;
    }
    .lg-bor#{$breakpoint} {
        border-width: $border-lg;
    }
    .xl-bor#{$breakpoint} {
        border-width: $border-xl;
    }
    .xxl-bor#{$breakpoint} {
        border-width: $border-xxl;
    }



    .no-bor-l#{$breakpoint} {
        border-left-width: 0;
    }
    .xxs-bor-l#{$breakpoint} {
        border-left-width: $border-xxs;
    }
    .xs-bor-l#{$breakpoint} {
        border-left-width: $border-xs;
    }
    .sm-bor-l#{$breakpoint} {
        border-left-width: $border-sm;
    }
    .md-bor-l#{$breakpoint} {
        border-left-width: $border-md;
    }
    .lg-bor-l#{$breakpoint} {
        border-left-width: $border-lg;
    }
    .xl-bor-l#{$breakpoint} {
        border-left-width: $border-xl;
    }
    .xxl-bor-l#{$breakpoint} {
        border-left-width: $border-xxl;
    }


    .no-bor-t#{$breakpoint} {
        border-top-width: 0;
    }
    .xxs-bor-t#{$breakpoint} {
        border-top-width: $border-xxs;
    }
    .xs-bor-t#{$breakpoint} {
        border-top-width: $border-xs;
    }
    .sm-bor-t#{$breakpoint} {
        border-top-width: $border-sm;
    }
    .md-bor-t#{$breakpoint} {
        border-top-width: $border-md;
    }
    .lg-bor-t#{$breakpoint} {
        border-top-width: $border-lg;
    }
    .xl-bor-t#{$breakpoint} {
        border-top-width: $border-xl;
    }
    .xxl-bor-t#{$breakpoint} {
        border-top-width: $border-xxl;
    }



    .no-bor-r#{$breakpoint} {
        border-right-width: 0;
    }
    .xxs-bor-r#{$breakpoint} {
        border-right-width: $border-xxs;
    }
    .xs-bor-r#{$breakpoint} {
        border-right-width: $border-xs;
    }
    .sm-bor-r#{$breakpoint} {
        border-right-width: $border-sm;
    }
    .md-bor-r#{$breakpoint} {
        border-right-width: $border-md;
    }
    .lg-bor-r#{$breakpoint} {
        border-right-width: $border-lg;
    }
    .xl-bor-r#{$breakpoint} {
        border-right-width: $border-xl;
    }
    .xxl-bor-r#{$breakpoint} {
        border-right-width: $border-xxl;
    }





    .no-bor-b#{$breakpoint} {
        border-bottom-width: 0;
    }
    .xxs-bor-b#{$breakpoint} {
        border-bottom-width: $border-xxs;
    }
    .xs-bor-b#{$breakpoint} {
        border-bottom-width: $border-xs;
    }
    .sm-bor-b#{$breakpoint} {
        border-bottom-width: $border-sm;
    }
    .md-bor-b#{$breakpoint} {
        border-bottom-width: $border-md;
    }
    .lg-bor-b#{$breakpoint} {
        border-bottom-width: $border-lg;
    }
    .xl-bor-b#{$breakpoint} {
        border-bottom-width: $border-xl;
    }
    .xxl-bor-b#{$breakpoint} {
        border-bottom-width: $border-xxl;
    }


}