@mixin position($breakpoint) {

    /*
     * Position type
     */

    .pos-fixed#{$breakpoint} {
        position: fixed;
    }

    .pos-absolute#{$breakpoint} {
        position: absolute;
    }

    .pos-relative#{$breakpoint} {
        position: relative;
    }


    /*
     * Position values
     */



    .no-l#{$breakpoint} {
        left: 0;
    }
    .xxs-l#{$breakpoint} {
        left: $xxs;
    }
    .xs-l#{$breakpoint} {
        left: $xs;
    }
    .sm-l#{$breakpoint} {
        left: $sm;
    }
    .md-l#{$breakpoint} {
        left: $md;
    }
    .lg-l#{$breakpoint} {
        left: $lg;
    }
    .xl-l#{$breakpoint} {
        left: $xl;
    }
    .xxl-l#{$breakpoint} {
        left: $xxl;
    }

    .neg-xxs-l#{$breakpoint} {
        left: -$xxs;
    }
    .neg-xs-l#{$breakpoint} {
        left: -$xs;
    }
    .neg-sm-l#{$breakpoint} {
        left: -$sm;
    }
    .neg-md-l#{$breakpoint} {
        left: -$md;
    }
    .neg-lg-l#{$breakpoint} {
        left: -$lg;
    }
    .neg-xl-l#{$breakpoint} {
        left: -$xl;
    }
    .neg-xxl-l#{$breakpoint} {
        left: -$xxl;
    }


    .no-t#{$breakpoint} {
        top: 0;
    }
    .xxs-t#{$breakpoint} {
        top: $xxs;
    }
    .xs-t#{$breakpoint} {
        top: $xs;
    }
    .sm-t#{$breakpoint} {
        top: $sm;
    }
    .md-t#{$breakpoint} {
        top: $md;
    }
    .lg-t#{$breakpoint} {
        top: $lg;
    }
    .xl-t#{$breakpoint} {
        top: $xl;
    }
    .xxl-t#{$breakpoint} {
        top: $xxl;
    }

    .neg-xxs-t#{$breakpoint} {
        top: -$xxs;
    }
    .neg-xs-t#{$breakpoint} {
        top: -$xs;
    }
    .neg-sm-t#{$breakpoint} {
        top: -$sm;
    }
    .neg-md-t#{$breakpoint} {
        top: -$md;
    }
    .neg-lg-t#{$breakpoint} {
        top: -$lg;
    }
    .neg-xl-t#{$breakpoint} {
        top: -$xl;
    }
    .neg-xxl-t#{$breakpoint} {
        top: -$xxl;
    }




    .no-r#{$breakpoint} {
        right: 0;
    }
    .xxs-r#{$breakpoint} {
        right: $xxs;
    }
    .xs-r#{$breakpoint} {
        right: $xs;
    }
    .sm-r#{$breakpoint} {
        right: $sm;
    }
    .md-r#{$breakpoint} {
        right: $md;
    }
    .lg-r#{$breakpoint} {
        right: $lg;
    }
    .xl-r#{$breakpoint} {
        right: $xl;
    }
    .xxl-r#{$breakpoint} {
        right: $xxl;
    }

    .neg-xxs-r#{$breakpoint} {
        right: -$xxs;
    }
    .neg-xs-r#{$breakpoint} {
        right: -$xs;
    }
    .neg-sm-r#{$breakpoint} {
        right: -$sm;
    }
    .neg-md-r#{$breakpoint} {
        right: -$md;
    }
    .neg-lg-r#{$breakpoint} {
        right: -$lg;
    }
    .neg-xl-r#{$breakpoint} {
        right: -$xl;
    }
    .neg-xxl-r#{$breakpoint} {
        right: -$xxl;
    }





    .no-b#{$breakpoint} {
        bottom: 0;
    }
    .xxs-b#{$breakpoint} {
        bottom: $xxs;
    }
    .xs-b#{$breakpoint} {
        bottom: $xs;
    }
    .sm-b#{$breakpoint} {
        bottom: $sm;
    }
    .md-b#{$breakpoint} {
        bottom: $md;
    }
    .lg-b#{$breakpoint} {
        bottom: $lg;
    }
    .xl-b#{$breakpoint} {
        bottom: $xl;
    }
    .xxl-b#{$breakpoint} {
        bottom: $xxl;
    }

    .neg-xxs-b#{$breakpoint} {
        bottom: -$xxs;
    }
    .neg-xs-b#{$breakpoint} {
        bottom: -$xs;
    }
    .neg-sm-b#{$breakpoint} {
        bottom: -$sm;
    }
    .neg-md-b#{$breakpoint} {
        bottom: -$md;
    }
    .neg-lg-b#{$breakpoint} {
        bottom: -$lg;
    }
    .neg-xl-b#{$breakpoint} {
        bottom: -$xl;
    }
    .neg-xxl-b#{$breakpoint} {
        bottom: -$xxl;
    }

}