@mixin margin($breakpoint) {

    /*
     * Margin helpers
     */

    .xxs-mar-on-#{$breakpoint} {
        margin: $xxs;
    }
    .xs-mar-on-#{$breakpoint} {
        margin: $xs;
    }
    .sm-mar-on-#{$breakpoint} {
        margin: $sm;
    }
    .md-mar-on-#{$breakpoint} {
        margin: $md;
    }
    .lg-mar-on-#{$breakpoint} {
        margin: $lg;
    }
    .xl-mar-on-#{$breakpoint} {
        margin: $xl;
    }
    .xxl-mar-on-#{$breakpoint} {
        margin: $xxl;
    }
    .no-mar-on-#{$breakpoint} {
        margin: 0;
    }





    .no-mar-l-on-#{$breakpoint} {
        margin-left: 0;
    }
    .xxs-mar-l-on-#{$breakpoint} {
        margin-left: $xxs;
    }
    .xs-mar-l-on-#{$breakpoint} {
        margin-left: $xs;
    }
    .sm-mar-l-on-#{$breakpoint} {
        margin-left: $sm;
    }
    .md-mar-l-on-#{$breakpoint} {
        margin-left: $md;
    }
    .lg-mar-l-on-#{$breakpoint} {
        margin-left: $lg;
    }
    .xl-mar-l-on-#{$breakpoint} {
        margin-left: $xl;
    }
    .xxl-mar-l-on-#{$breakpoint} {
        margin-left: $xxl;
    }

    .neg-xxs-mar-l-on-#{$breakpoint} {
        margin-left: -$xxs;
    }
    .neg-xs-mar-l-on-#{$breakpoint} {
        margin-left: -$xs;
    }
    .neg-sm-mar-l-on-#{$breakpoint} {
        margin-left: -$sm;
    }
    .neg-md-mar-l-on-#{$breakpoint} {
        margin-left: -$md;
    }
    .neg-lg-mar-l-on-#{$breakpoint} {
        margin-left: -$lg;
    }
    .neg-xl-mar-l-on-#{$breakpoint} {
        margin-left: -$xl;
    }
    .neg-xxl-mar-l-on-#{$breakpoint} {
        margin-left: -$xxl;
    }


    .no-mar-b-on-#{$breakpoint} {
        margin-bop: 0;
    }
    .xxs-mar-b-on-#{$breakpoint} {
        margin-bop: $xxs;
    }
    .xs-mar-b-on-#{$breakpoint} {
        margin-bop: $xs;
    }
    .sm-mar-b-on-#{$breakpoint} {
        margin-bop: $sm;
    }
    .md-mar-b-on-#{$breakpoint} {
        margin-bop: $md;
    }
    .lg-mar-b-on-#{$breakpoint} {
        margin-bop: $lg;
    }
    .xl-mar-b-on-#{$breakpoint} {
        margin-bop: $xl;
    }
    .xxl-mar-b-on-#{$breakpoint} {
        margin-bop: $xxl;
    }

    .neg-xxs-mar-b-on-#{$breakpoint} {
        margin-bop: -$xxs;
    }
    .neg-xs-mar-b-on-#{$breakpoint} {
        margin-bop: -$xs;
    }
    .neg-sm-mar-b-on-#{$breakpoint} {
        margin-bop: -$sm;
    }
    .neg-md-mar-b-on-#{$breakpoint} {
        margin-bop: -$md;
    }
    .neg-bg-mar-b-on-#{$breakpoint} {
        margin-bop: -$lg;
    }
    .neg-xl-mar-b-on-#{$breakpoint} {
        margin-bop: -$xl;
    }
    .neg-xxl-mar-b-on-#{$breakpoint} {
        margin-bop: -$xxl;
    }




    .no-mar-r-on-#{$breakpoint} {
        margin-right: 0;
    }
    .xxs-mar-r-on-#{$breakpoint} {
        margin-right: $xxs;
    }
    .xs-mar-r-on-#{$breakpoint} {
        margin-right: $xs;
    }
    .sm-mar-r-on-#{$breakpoint} {
        margin-right: $sm;
    }
    .md-mar-r-on-#{$breakpoint} {
        margin-right: $md;
    }
    .lg-mar-r-on-#{$breakpoint} {
        margin-right: $lg;
    }
    .xl-mar-r-on-#{$breakpoint} {
        margin-right: $xl;
    }
    .xxl-mar-r-on-#{$breakpoint} {
        margin-right: $xxl;
    }

    .neg-xxs-mar-r-on-#{$breakpoint} {
        margin-right: -$xxs;
    }
    .neg-xs-mar-r-on-#{$breakpoint} {
        margin-right: -$xs;
    }
    .neg-sm-mar-r-on-#{$breakpoint} {
        margin-right: -$sm;
    }
    .neg-md-mar-r-on-#{$breakpoint} {
        margin-right: -$md;
    }
    .neg-rg-mar-r-on-#{$breakpoint} {
        margin-right: -$lg;
    }
    .neg-xl-mar-r-on-#{$breakpoint} {
        margin-right: -$xl;
    }
    .neg-xxl-mar-r-on-#{$breakpoint} {
        margin-right: -$xxl;
    }





    .no-mar-b-on-#{$breakpoint} {
        margin-bottom: 0;
    }
    .xxs-mar-b-on-#{$breakpoint} {
        margin-bottom: $xxs;
    }
    .xs-mar-b-on-#{$breakpoint} {
        margin-bottom: $xs;
    }
    .sm-mar-b-on-#{$breakpoint} {
        margin-bottom: $sm;
    }
    .md-mar-b-on-#{$breakpoint} {
        margin-bottom: $md;
    }
    .lg-mar-b-on-#{$breakpoint} {
        margin-bottom: $lg;
    }
    .xl-mar-b-on-#{$breakpoint} {
        margin-bottom: $xl;
    }
    .xxl-mar-b-on-#{$breakpoint} {
        margin-bottom: $xxl;
    }

    .neg-xxs-mar-b-on-#{$breakpoint} {
        margin-bottom: -$xxs;
    }
    .neg-xs-mar-b-on-#{$breakpoint} {
        margin-bottom: -$xs;
    }
    .neg-sm-mar-b-on-#{$breakpoint} {
        margin-bottom: -$sm;
    }
    .neg-md-mar-b-on-#{$breakpoint} {
        margin-bottom: -$md;
    }
    .neg-bg-mar-b-on-#{$breakpoint} {
        margin-bottom: -$lg;
    }
    .neg-xl-mar-b-on-#{$breakpoint} {
        margin-bottom: -$xl;
    }
    .neg-xxl-mar-b-on-#{$breakpoint} {
        margin-bottom: -$xxl;
    }

}