@mixin margin($breakpoint) {

    /*
     * Margin helpers
     */

    .xxs-mar#{$breakpoint} {
        margin: $xxs;
    }
    .xs-mar#{$breakpoint} {
        margin: $xs;
    }
    .sm-mar#{$breakpoint} {
        margin: $sm;
    }
    .md-mar#{$breakpoint} {
        margin: $md;
    }
    .lg-mar#{$breakpoint} {
        margin: $lg;
    }
    .xl-mar#{$breakpoint} {
        margin: $xl;
    }
    .xxl-mar#{$breakpoint} {
        margin: $xxl;
    }
    .no-mar#{$breakpoint} {
        margin: 0;
    }



    .no-mar-l#{$breakpoint} {
        margin-left: 0;
    }
    .xxs-mar-l#{$breakpoint} {
        margin-left: $xxs;
    }
    .xs-mar-l#{$breakpoint} {
        margin-left: $xs;
    }
    .sm-mar-l#{$breakpoint} {
        margin-left: $sm;
    }
    .md-mar-l#{$breakpoint} {
        margin-left: $md;
    }
    .lg-mar-l#{$breakpoint} {
        margin-left: $lg;
    }
    .xl-mar-l#{$breakpoint} {
        margin-left: $xl;
    }
    .xxl-mar-l#{$breakpoint} {
        margin-left: $xxl;
    }

    .neg-xxs-mar-l#{$breakpoint} {
        margin-left: -$xxs;
    }
    .neg-xs-mar-l#{$breakpoint} {
        margin-left: -$xs;
    }
    .neg-sm-mar-l#{$breakpoint} {
        margin-left: -$sm;
    }
    .neg-md-mar-l#{$breakpoint} {
        margin-left: -$md;
    }
    .neg-lg-mar-l#{$breakpoint} {
        margin-left: -$lg;
    }
    .neg-xl-mar-l#{$breakpoint} {
        margin-left: -$xl;
    }
    .neg-xxl-mar-l#{$breakpoint} {
        margin-left: -$xxl;
    }


    .no-mar-t#{$breakpoint} {
        margin-top: 0;
    }
    .xxs-mar-t#{$breakpoint} {
        margin-top: $xxs;
    }
    .xs-mar-t#{$breakpoint} {
        margin-top: $xs;
    }
    .sm-mar-t#{$breakpoint} {
        margin-top: $sm;
    }
    .md-mar-t#{$breakpoint} {
        margin-top: $md;
    }
    .lg-mar-t#{$breakpoint} {
        margin-top: $lg;
    }
    .xl-mar-t#{$breakpoint} {
        margin-top: $xl;
    }
    .xxl-mar-t#{$breakpoint} {
        margin-top: $xxl;
    }

    .neg-xxs-mar-t#{$breakpoint} {
        margin-top: -$xxs;
    }
    .neg-xs-mar-t#{$breakpoint} {
        margin-top: -$xs;
    }
    .neg-sm-mar-t#{$breakpoint} {
        margin-top: -$sm;
    }
    .neg-md-mar-t#{$breakpoint} {
        margin-top: -$md;
    }
    .neg-lg-mar-t#{$breakpoint} {
        margin-top: -$lg;
    }
    .neg-xl-mar-t#{$breakpoint} {
        margin-top: -$xl;
    }
    .neg-xxl-mar-t#{$breakpoint} {
        margin-top: -$xxl;
    }




    .no-mar-r#{$breakpoint} {
        margin-right: 0;
    }
    .xxs-mar-r#{$breakpoint} {
        margin-right: $xxs;
    }
    .xs-mar-r#{$breakpoint} {
        margin-right: $xs;
    }
    .sm-mar-r#{$breakpoint} {
        margin-right: $sm;
    }
    .md-mar-r#{$breakpoint} {
        margin-right: $md;
    }
    .lg-mar-r#{$breakpoint} {
        margin-right: $lg;
    }
    .xl-mar-r#{$breakpoint} {
        margin-right: $xl;
    }
    .xxl-mar-r#{$breakpoint} {
        margin-right: $xxl;
    }

    .neg-xxs-mar-r#{$breakpoint} {
        margin-right: -$xxs;
    }
    .neg-xs-mar-r#{$breakpoint} {
        margin-right: -$xs;
    }
    .neg-sm-mar-r#{$breakpoint} {
        margin-right: -$sm;
    }
    .neg-md-mar-r#{$breakpoint} {
        margin-right: -$md;
    }
    .neg-lg-mar-r#{$breakpoint} {
        margin-right: -$lg;
    }
    .neg-xl-mar-r#{$breakpoint} {
        margin-right: -$xl;
    }
    .neg-xxl-mar-r#{$breakpoint} {
        margin-right: -$xxl;
    }





    .no-mar-b#{$breakpoint} {
        margin-bottom: 0;
    }
    .xxs-mar-b#{$breakpoint} {
        margin-bottom: $xxs;
    }
    .xs-mar-b#{$breakpoint} {
        margin-bottom: $xs;
    }
    .sm-mar-b#{$breakpoint} {
        margin-bottom: $sm;
    }
    .md-mar-b#{$breakpoint} {
        margin-bottom: $md;
    }
    .lg-mar-b#{$breakpoint} {
        margin-bottom: $lg;
    }
    .xl-mar-b#{$breakpoint} {
        margin-bottom: $xl;
    }
    .xxl-mar-b#{$breakpoint} {
        margin-bottom: $xxl;
    }

    .neg-xxs-mar-b#{$breakpoint} {
        margin-bottom: -$xxs;
    }
    .neg-xs-mar-b#{$breakpoint} {
        margin-bottom: -$xs;
    }
    .neg-sm-mar-b#{$breakpoint} {
        margin-bottom: -$sm;
    }
    .neg-md-mar-b#{$breakpoint} {
        margin-bottom: -$md;
    }
    .neg-lg-mar-b#{$breakpoint} {
        margin-bottom: -$lg;
    }
    .neg-xl-mar-b#{$breakpoint} {
        margin-bottom: -$xl;
    }
    .neg-xxl-mar-b#{$breakpoint} {
        margin-bottom: -$xxl;
    }

}