@mixin alignment($prefix) {

    /*
     * Alignment
     */

    .#{$prefix}align-left {
        float: left;
    }

    .#{$prefix}align-right {
        float: right;
    }

    .#{$prefix}align-none {
        float: none;
    }

    .#{$prefix}align-center {
        margin: 0 auto;
    }

    .#{$prefix}inline-align-center {
        text-align: center;
    }

    .#{$prefix}inline-align-left {
        text-align: left;
    }

    .#{$prefix}inline-align-right {
        text-align: right;
    }

}