@mixin alignment($breakpoint) {

    /*
     * Alignment
     */

    .align-left#{$breakpoint} {
        float: left;
    }

    .align-right#{$breakpoint} {
        float: right;
    }

    .align-none#{$breakpoint} {
        float: none;
    }

    .align-center#{$breakpoint} {
        margin: 0 auto;
    }

    .inline-align-center#{$breakpoint} {
        text-align: center;
    }

    .inline-align-left#{$breakpoint} {
        text-align: left;
    }

    .inline-align-right#{$breakpoint} {
        text-align: right;
    }

}